name = "{{slug}}"
compatibility_date = "{{today}}"
workers_dev = true
preview_urls = true

[assets]
directory = "./"
not_found_handling = "404-page"

[[routes]]
pattern = "{{domain}}"
custom_domain = true

[observability]
enabled = true
